.toolbar {
    background: #f0f0f0;
    padding: 4px 4px;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
}

.inner {
    display: flex;
}

button {
    cursor: pointer !important;
    background: transparent;
    transition: background-color 0.2s ease-in-out;
    padding: 0 5px;
    color: #626262;
    font-size: 21px;
    border-radius: 2px;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% 50%;
    text-indent: -9000px;
    cursor: pointer;
    height: 29px;
    width: 29px;
    outline: 0;
}
.backward {
    margin-left: 38px;
}
button:not([disabled]):active:hover {
    background-color: #d3d3d3;
}

button:not([disabled]):hover,
button:not([disabled]):active {
    background-color: #ddd;
}

button:disabled {
    opacity: 0.1;
}

button.active {
    background-color: #d5d5d5;
}

.QR-code {
    position: relative;
}

.QR-code:hover .QR-code-canvas {
    display: block;
}

.QR-code-canvas {
    display: none;
    position: absolute;
    width: 204px;
    height: 202px;
    background: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    overflow: hidden;
    right: 0;
    top: 30px;
    z-index: 1;
}

.QR-code-canvas canvas {
    display: block;
    margin: 24px 42px 12px 42px;
}

.QR-code-canvas span {
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #283242;
}
