html,
body {
  height: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, Helvetica,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#root {
  height: auto;
}

.App {
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
}
