.urlbar {
  display: flex;
  flex: 1;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #888;
  height: 27px;
  overflow: hidden;
  margin: 0 4px;
  padding: 0 4px;
}

.urlbar input {
  width: 100%;
  border: 0;
  outline: 0;
  user-select: all;
}

.focused {
  box-shadow: inset 0 0 0 0.3px #419bf9;
  border-color: #419bf9;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.separator {
  background-color: #ccc;
  height: 1px;
  padding: 0;
  margin: 3px 0 3px 0;
}
